<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>comments</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>댓글 모음</h1>
    <a href="/">홈으로 이동하기</a>
    <ul>
      <% for (let i = 0; i<commentInfos.length; i++) { %>
      <li>
        <b><%= commentInfos[i].userid %></b>
        <a href="/comment/<%= commentInfos[i].id %>"><%= commentInfos[i].comment %></a>
      </li>
      <% } %>
    </ul>
    <div>
      <!-- 입력창(userid, comment) -->
       <input type="text" name="userid" id="userid" placeholder="아이디"><br>
       <input type="text" name="comment" id="comment" placeholder="댓글입력">
       <input type="button" value="등록" id="commentBtn" onclick="commentInsert()">
    </div>
  <script>
    const userid = document.getElementById("userid");
    const comment = document.getElementById("comment");
    // const commentBtn = document.getElementById("commentBtn");
    // console.log(userid.value);

    function commentInsert() {
      axios.post("/insertcomment",{
        userid: userid.value,
        comment: comment.value
      }).then((res)=>{
        console.log(res);
        location.reload();
      })
    }
  </script>
  </body>
</html>
