<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <h1>INDEX PAGE</h1>
    <div>
      <p>회원목록</p>
      <table>
      <% for (let i =0;i<users.length; i++) { %>
        <tr>
          <td>userid: <%= users[i].userid %></td>
          <td>username: <%= users[i].username %></td>
        </tr>
      <% } %>
      </table>
    </div>
  </body>
</html>
