.container {
  width: auto;
  height: 300px;
  background-color: pink;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: flex-start;
  align-items: center;
}
.container > div {
  width: 100px;
  height: 100px;
}
.box1 {
  background-color: red;
}
.box2 {
  background-color: green;
}
.box3 {
  background-color: blue;
}
