html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  background: #5f806d;
}

.container {
  max-width: 1300px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
}
a {
  text-decoration: none;
  color: rgb(101, 101, 101);
}
// 컨테이너 코드
.pageContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 100px;
}
