<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EJS TEST</title>
  </head>
  <body>
    <!-- <% 코드 %>, <%= 값 %>  -->
    <!-- <%- include('view의 상대주소') %> 다른 view 불러올때 -->
    <% for (var i=0; i<5;i++){%>
    <hi>안녕</hi>
    <%}%>
    <p>안녕하세요</p>
  </body>
</html>
