// 변수사용
$font-color: #501194;

// 믹스인(함수)
@mixin box_setting($bgColor, $radius) {
  background-color: $bgColor;
  border-radius: $radius;
}
h4 {
  text-align: center;
}
.container {
  // 연산
  width: calc(100% - 20px);
  display: flex;
  justify-content: center;
  // 중첩
  .box {
    color: $font-color;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    &:hover {
      font-weight: bold;
    }
  }
}
// include 함수 사용
.one {
  @include box_setting(pink, 20%);
}
.two {
  @include box_setting(beige, 50%);
}
.three {
  @include box_setting(skyblue, 5%);
}
.four {
  @include box_setting(lightseagreen, 10px);
}
