/* *all #id .class element */
#aid {
  background-color: orange;
  font-weight: bold;
  color: brown;
}
/* 복합(교집합) span.class */
/* 복합(자식) ul > .orange */
/* 복합(하위) div .orange */
/* 복합(형제) .orange + li */
/* 복합(모든형제) .orange ~ li */

/* 가상 클래스 선택자 */
/* 요소:가상상황 */
.btn:hover {
  background-color: red;
}
/* 속성선택자 [abc] */
[type="text"] {
  background-color: palevioletred;
}
.box {
  width: auto;
  height: 200px;
  background-color: orange;
}
.box > div {
  width: 200px;
  height: 100px;
  margin-right: 30px;
  display: inline-block;
  box-sizing: content-box;
}
.html {
  background-color: skyblue;
}
.css {
  background-color: green;
}
.js {
  background-color: red;
}
/* opacity < visibility < display */
.hide > div {
  box-sizing: content-box;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: inline-block;
  background-color: pink;
}
.hide > div:nth-child(2):hover {
  opacity: 0;
}
.hide > div:nth-child(3):hover {
  visibility: hidden;
}
.hide > div:nth-child(4):hover {
  display: none;
}
